//Custom Styles

//cambiar los colores principales desde el root
:root {
  --cx-color-primary: #5e9f76;
  --cx-color-secondary: #edffec;
  --cx-color-text: #9792e3;
  --cx-color-background: #5a5766;
  --cx-color-dark: #48435c;
  --cx-border-radius: 0em;
  --cx-buttons-border-radius: 0rem;
}

$skipComponentStyles: (cx-add-to-cart);

%custom-add-to-cart {
  .btn {
    text-transform: uppercase;
  }
}

cx-add-to-cart {
  @extend %custom-add-to-cart !optional;
}

$skipComponentStyles: (cx-banner);

%custom-banner {
  img {
    opacity: 1;
  }
  img:hover {
    opacity: 0.4;
  }
}

cx-banner {
  @extend %custom-banner !optional;
}

//Agregar efecto al minicart
cx-mini-cart {
  a {
    opacity: 1;
  }
  a:hover {
    opacity: 0.4;
  }
}

//Cambiar el color del header
header {
  background: rgba(93, 172, 203, 1);
  background: -moz-linear-gradient(
    left,
    rgba(93, 172, 203, 1) 0%,
    rgba(75, 159, 192, 1) 38%,
    rgba(74, 158, 191, 1) 41%,
    rgba(58, 128, 156, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(93, 172, 203, 1)),
    color-stop(38%, rgba(75, 159, 192, 1)),
    color-stop(41%, rgba(74, 158, 191, 1)),
    color-stop(100%, rgba(58, 128, 156, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(93, 172, 203, 1) 0%,
    rgba(75, 159, 192, 1) 38%,
    rgba(74, 158, 191, 1) 41%,
    rgba(58, 128, 156, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(93, 172, 203, 1) 0%,
    rgba(75, 159, 192, 1) 38%,
    rgba(74, 158, 191, 1) 41%,
    rgba(58, 128, 156, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(93, 172, 203, 1) 0%,
    rgba(75, 159, 192, 1) 38%,
    rgba(74, 158, 191, 1) 41%,
    rgba(58, 128, 156, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(93, 172, 203, 1) 0%,
    rgba(75, 159, 192, 1) 38%,
    rgba(74, 158, 191, 1) 41%,
    rgba(58, 128, 156, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5daccb', endColorstr='#3a809c', GradientType=1 );
}

cx-searchbox {
  label {
    background-color: black;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

//Animando todo (muy molesto)

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img,
nav,
a {
  animation-duration: 3s;
  animation-name: slidein;
}

section:hover,
nav:hover,
h1:hover,
header:hover,
main:hover,
ul:hover,
li:hover,
div:hover,
footer:hover,
span:hover {
  animation-duration: 1s;
  animation-name: fadein;
}
